body {
    font-family: Arial, sans-serif;
    background-color: #be6a8b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 }
 .product-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #c4c7bf;
    overflow: hidden;
    margin: 20px;
 }
 .product-image {
    width: 100%;
    height: auto;
 }
 .card-content {
    padding: 20px;
 }
 .title {
    font-size: 1.5em; 
    margin: 0;
    padding-bottom: 10px;
    color:firebrick;
 }
 .desc {
    font-size: 1em; 
    margin: 0;
    padding-bottom: 20px;
    color: #c27c7c;
 }
 .price{
    color: black;
    margin: 0;
    padding-bottom: 10px;
 }
 button {
    border: none;
    padding: 10px;
    font-size: 1em; 
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
 }
 button:hover {
    background-color: #4178b4;
    color: #be6a8b;
 }
 .but1{
    background-color: cadetblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #e47777;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease
 }
 .but2{
    background-color: cornflowerblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #62cf8a;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease
}
.but3{
    background-color: darkslateblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #42c4c9;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease
}


.row{
   display:flex;
   padding: 0 4px;
   flex-wrap: wrap;
}

.col{
   flex:25%;
   max-width: 25%;
   padding: 0 4px;
}

.col img{
   margin-top: 8px;
   vertical-align: middle;
   width:100%;
   transition: 0.2s ease-in-out;
   opacity: 0.2s ease-in-out;
}

.col img:hover{
   transform:scale(1.1);
   opacity: 1.5;
}

@media (max-width: 768px) {
   .col {
     flex: 50%;  
     max-width: 50%;
   }
 }
 
 
 @media (min-width: 992px) {
   .col {
     flex: 33.33%; 
     max-width: 33.33%;
   }
 }
 .nav{
   background-color: #6dd03e;
   overflow: hidden;
   position: absolute;
   top: 20px;
   right: 20px;
 }

.nav a{
   color:#f2f2f2;
   text-align:center;
   text-decoration: none;
   font-size: 16px;
   padding:14px 16px;
   float:left;
   margin:0;
}

.nav a:hover{
   background-color: #ddd;
   color: black;
   transition:0.3s;
}


 