body{
    font-family:Arial, Helvetica, sans-serif;
    height:auto;
    margin:20px;
    gap: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(175, 80, 186);

}
.product-card{
   background-color: rgb(206, 194, 194);
   border-radius:20px;
   width: 30%;
   text-align:center;
   overflow:hidden;
   margin-top: 25px;
}
.product-image{
   height: auto;
   width:100%;
}
.product-details{
   padding:20px;
}
.product-title{
   margin-top:0;
   color: rgb(30, 91, 117);
   font-size: large;
}
.product-description{
   color:rgb(31, 131, 189);
   justify-content: left;
   text-align:left;
   font: 0.9em;
}
.product-price{
   font-size: 1.2em;
   color:black;
   margin-bottom: 10px;
   padding: 0 px;
   text-align:centre
}
.add-to-cart{
   background-color:green;
   border: none;
   color: whitesmoke;
   border-radius: 10px;
   padding: 10px 20px;
}
.add-to-cart:hover{
   color: rgb(171, 221, 240);
   cursor: pointer;
   background-color: rgb(93, 62, 173);
   transition: color 10s;
}
